<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>IDT WebChat</title>
    <script type="text/javascript" src="thirdparty/js/jquery.min.js"></script>

    <script type="text/javascript" src="thirdparty/js/chance.min.js"></script>
    <script type="text/javascript" src="thirdparty/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="thirdparty/js/socket.io-1.3.5.js"></script>

    <link rel="stylesheet" type="text/css" href="thirdparty/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="thirdparty/css/bootstrap-theme.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

  </head>
  <body>

   <!--  Chat room  -->
   <!--  Inspired by: http://www.sitepoint.com/build-node-js-powered-chatroom-web-app-getting-started/  -->

    <div class="wrap">
      <div class="container-fluid">
        <h1>IDT Chatroom</h1>
        <b>Users connected: <span id="count">0</span></b><br/><br/>
        <div id="messages"></div>
        <div class="push"></div>
      </div>
    </div>

    <!--  Text area -->
    <div class="footer">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-8 col-sm-9">

          <!--  Message box -->
            <form action="#" id="mess-box">
                <input type="text" id="message-box" placeholder="Write a message here..." rows="3" autocomplete="off" class="form-control input-lg"/>
            </form>

           </div>
           <!--  Send button -->
          <div class="col-xs-4 col-sm-3">
            <button id="send-msg-btn" class="btn btn-primary btn-lg btn-block">Send</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="js/index.js"></script>
  </body>
</html>


